### 1. Data types and structures

#### 1.1. Basic data types

Python is a _dynamically typed_ language, which means that the Python interpreter infers the type of an object at runtime. 

##### 1.1.1. Integer

**Integer** is a number that can be written without a fractional component. To assign a value to a variable, type the name of a variable followed by an assignment operator (**_=_**) followoed by the value:

In [1]:
var_int_1 = 5
var_int_1

5

**_Artithmetic Operators_**. You are already familiar with these, since they come from basic mathematics. The arithmetic operators are:

* addition (+);
* subtraction (-);
* multiplication (*);
* division (/);
* exponent (**);
* floor division (//);
* modulus division (%). 

The first five operators are straightforward. The 6th, floor division operator (//), returns a number without a fractional component, and the final, modulus division operator (%), returns the remainder of division:

In [38]:
2 + 1

3

In [39]:
2 - 1

1

In [40]:
2 * 2

4

In [41]:
1 / 2

0.5

In [42]:
2 ** 3

8

In [43]:
5 // 2

2

In [44]:
5 % 2

1

In [45]:
(5 // 2) * 2 + (5 % 2)

5

If you want to increase the value of variable **var_int_1** by 10, you can write **var_int_1 += 10**. This is equivalent to writing **var_int_1 = var_int_1 + 10**, but it's much shorter:

In [46]:
var_int_1 += 10
var_int_1

15

This also works with other arithmetic operations:

In [47]:
var_int_1 %= 4
var_int_1

3

The built-in function **type()** (https://docs.python.org/3/library/functions.html#type) provides type information for all objects, both built-in and newly created ones.

In [48]:
type(var_int_1)

int

In [49]:
type(1 / 2)

float

##### 1.1.2. Float

The previous expression gives rise to the next basic data type, the **float** object. Adding a _dot_ to an integer value, like in 1. or 1.0, causes Python to interpret the object as a **float**:

In [50]:
var_float_1 = 0.5
type(var_float_1)

float

In [51]:
var_float_1 + 1.5

2.0

**_Methods_**. In Python, a method is a function that belongs to an object. It is implemented as **object.method()**. For example, a built-in method **.as_integer_ratio()** (https://python-reference.readthedocs.io/en/latest/docs/float/as_integer_ratio.html) expresses any number as a ratio of 2 simplified **integers**:

In [52]:
var_float_1.as_integer_ratio()

(1, 2)

**_Comparison operators_**. You can use _comparison_ operators to compare the values of variables. They will always return a boolean (see next cell) value. There are six _comparison_ operators:

* Equal (==). Not the same as the assignment operator (=);
* Not equal (!=);
* Greater than (>);
* Less than (<);
* Greater than or equal (>=);
* Less than or equal (<=).

##### 1.1.3. Boolean

**Boolean** object is a binary data type, meaning it can take only 2 values, **True** or **False**. The following code shows Pythonâ€™s _comparison operators_ applied to numbers, with the resulting **bool** objects:

In [ ]:
2 == 1

In [ ]:
2 != 1

In [ ]:
2 > 1

In [ ]:
2 < 1

In [ ]:
2 >= 1

In [ ]:
2 <= 1

In [ ]:
type(2 > 1)

In [ ]:
type(False)

**_Logical Operators_**. A _logical operator_ is a symbol or word used to connect two or more expressions. _Logical operators_ are applied to **bool** objects, which in turn yields another **bool** object. The operators are: 

* **and (&)** - will return **True** if both operands are **True**;
* **or (|)** - will return **True** if at least one operand is **True**;
* **not** - will return **True** if the operand is **False** and vice-versa.

In [2]:
True and True

True

In [3]:
True and False

False

In [4]:
False and False

False

In [5]:
True or True

True

In [6]:
True or False

True

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not False

In [ ]:
True & False

In [ ]:
True | False

Of course, both types of operators (_comparison_ and *logical*) are often combined:

In [ ]:
(2 > 1) and (3 > 4)

In [ ]:
(2 == 1) or (3 != 4)

In [ ]:
not (2 != 2)

In [ ]:
(not (2 != 2)) and (3 == 1)

One major application is to control the code flow via other Python keywords, such as **if** or **while** (to be discussed later):

In [ ]:
if 2 > 1:
    print('Condition True')

In [ ]:
var_int_2 = 0

while var_int_2 < 3:
    print('Condition true, i =', var_int_2)  
    var_int_2 += 1

Numerically, Python attaches a value of 0 to **False** and a value of 1 to **True**, when transforming **boolean** value to an **integer** using **int()** (https://docs.python.org/3/library/functions.html#int) function or to a **float** using **float()** (https://docs.python.org/3/library/functions.html#float) function. When transforming number to **bool** objects via the **bool()** (https://docs.python.org/3/library/functions.html#bool) function, a 0 gives **False** while all other numbers give **True**:

In [53]:
int(True)

1

In [54]:
int(False)

0

In [55]:
float(True)

1.0

In [56]:
float(False)

0.0

In [57]:
bool(0)

False

In [58]:
bool(0.0)

False

In [59]:
bool(1)

True

In [60]:
bool(10.5)

True

In [61]:
bool(-2)

True

##### 1.1.4. String

The basic data type to represent text in Python is **str**. A **str** object is generally defined by single ('text') or double ("text") quotation marks or by converting another object using the **str()** (https://docs.python.org/3/library/functions.html#func-str) function:

In [62]:
var_str_1 = 'this is a string object'
var_str_1

'this is a string object'

In [63]:
var_int_3 = 1000
var_str_2 = str(var_int_3)
var_str_2

'1000'

Sometimes it is useful to use **print()** (https://docs.python.org/3/library/functions.html#print) function to display objects. In case of a **str** objects, **print()** function returns the string without the quotation marks:

In [64]:
print(var_str_1)

this is a string object

The **str** object has a number of helpful built-in methods. You can, for example, capitalize (https://docs.python.org/3.8/library/stdtypes.html#str.capitalize) the first word in this object:

In [65]:
var_str_1.capitalize()

'This is a string object'

Or you can split a string into its single-word components using **.split()** (https://docs.python.org/3.8/library/stdtypes.html#str.split) method to get a **list** object of all the words (more on **list** objects later):

In [66]:
var_str_1.split()

['this', 'is', 'a', 'string', 'object']

In [67]:
var_str_1.split(sep='s')

['thi', ' i', ' a ', 'tring object']

In [68]:
var_str_1.split(sep='s', maxsplit=2)

['thi', ' i', ' a string object']

In [69]:
type(   var_str_1.split()   )

list

This example illustrates that functions and methods can be used together. In this case **.split()** (https://docs.python.org/3.8/library/stdtypes.html#str.split) method is used inside **type()** (https://docs.python.org/3/library/functions.html#type) function.

Let's get back to **str** objects. You can also search for a word using **.find()** (https://docs.python.org/3.8/library/stdtypes.html#str.find) method and get the position (starting with zero) of the first letter of the word (position in Python is also called an *index*):

In [70]:
var_str_1.find('string')

10

If the word is not in the **str** object, the method returns -1:

In [20]:
var_str_1.find('Python')

-1

You can also view any letter by providing its position in square brackets:

In [21]:
var_str_1[10]

's'

However, when you provide a range for position (separated by a colon "**:**"), the upper value is excluded:

In [22]:
var_str_1[5:10]

'is a '

In [23]:
var_str_1[0:10]

'this is a '

In [24]:
var_str_1[:10]

'this is a '

In [25]:
var_str_1[10:]

'string object'

Index of -1 returns the last value, -2 returns one before last etc.

In [26]:
var_str_1[-1]

't'

In [27]:
var_str_1[-2]

'c'

In [28]:
var_str_1[:-1]

'this is a string objec'

Replacing characters in a string is a typical task that is easily accomplished with the **.replace()** (https://docs.python.org/3/library/stdtypes.html#str.replace) method:

In [29]:
var_str_1.replace(' ', '|')

'this|is|a|string|object'

The stripping of stringsâ€‰â€”â€‰deletion of certain leading/lagging charactersâ€‰â€”â€‰can be accomplished using **.strip()** (https://docs.python.org/3/library/stdtypes.html#str.strip) method:

In [30]:
var_str_3 = 'http://www.python.org'
var_str_3.strip('hpt:/g')

'www.python.or'

Python offers powerful string replacement operations via curly brackets **{}** and **.format()** (https://docs.python.org/3/library/stdtypes.html#str.format) method:

In [31]:
'{} is an integer.'.format(15)

'15 is an integer.'

In [32]:
'{} is an integer.'.format(var_int_1)

'5 is an integer.'

In [35]:
'{} is an integer and {} is a float.'.format(15, 1.5)

'15 is an integer and 1.5 is a float.'

In [71]:
'{} is an integer and {} is a float.'.format(var_int_1, var_float_1)

'3 is an integer and 0.5 is a float.'

String replacements are particularly useful in the context of multiple printing operations where the printed data is updated, for instance, during a **while** loop:

In [72]:
var_int_4 = 0  

while var_int_4 < 3:
    print('Condition true, i = {}'.format(var_int_4))  
    var_int_4 += 1

Condition true, i = 0
Condition true, i = 1
Condition true, i = 2

**_Exercises:_**

Exercise 1. Transform an integer 2 into 3.0 in one operation.

In [73]:
2 + 1.0

3.0

Exercise 2. What values of **var_int** will return **False** in the following expression?

In [74]:
var_int = 5
((5 != 4) and (2 <= 1)) or (not(5 == var_int) and (8 >= 8))

False

Exercise 3. Remove all occurences of 'th' from a sentence 'this is another Python string'.

In [75]:
'this is another Python string'.replace('th', '')

'is is anoer Pyon string'

Exercise 4. Transform an integer 56789 into 78 without using any arithmetic operators.

In [76]:
int(str(56789)[2:4])

78

#### 1.2. Basic data structures

Data structures are objects that contain a number of other objects. 

##### 1.2.1. Tuple

A **tuple** is a data structure that is quite simple and limited in its applications. It is defined by providing objects in brackets **(...)**:

In [80]:
var_tuple_1 = (1, 2.5, 'data')
var_tuple_1

(1, 2.5, 'data', 5)

In [81]:
type(var_tuple_1)

tuple

Like almost all data structures in Python, the **tuple** has a built-in index, with the help of which you can retrieve single or multiple elements. It is important to remember that Python uses _zero-based numbering_ such that the third element of a **tuple** is at index position 2:

In [82]:
var_tuple_1[2]

'data'

There are only two special methods that this object type provides: **.count()** (https://www.programiz.com/python-programming/methods/tuple/count) and **.index()** (https://www.programiz.com/python-programming/methods/tuple/index) . The first counts the number of occurrences of a certain object and the second gives the index value of the first appearance of it:

In [83]:
var_tuple_1.count('data')

1

In [84]:
var_tuple_1.index(1)

0

A **tuple** can be multiplied by an **integer**, duplicating it, or added to another **tuple**, binding them together.

In [85]:
var_tuple_2 = var_tuple_1 + var_tuple_1
var_tuple_2

(1, 2.5, 'data', 5, 1, 2.5, 'data', 5)

In [86]:
var_tuple_1 * 3

(1, 2.5, 'data', 5, 1, 2.5, 'data', 5, 1, 2.5, 'data', 5)

**Tuple** objects are _immutable_. This means that they, once defined, cannot be changed.

In [88]:
var_tuple_1[0] = 2

TypeError: 'tuple' object does not support item assignment

Another object, a **list**, can be changed.

##### 1.2.2. List

Objects of type **list** are much more flexible and powerful in comparison to **tuple** objects. From a finance point of view, you can achieve a lot working only with **list** objects, such as storing stock prices and appending new data. A **list** object is defined through square brackets **[...]** and the basic capabilities and behavior are similar to those of **tuple** objects:

In [106]:
var_list_1 = [1, 2.5, 'data']
var_list_1

[1, 2.5, 'data']

In [91]:
type(var_list_1)

list

In [92]:
var_list_1[2]

'data'

**List** objects can also be defined or converted from other types by using the **list()** (https://docs.python.org/3/library/functions.html#func-list) function. The following code generates a new **list** object by converting the **tuple** object from the previous example:

In [95]:
var_list_3 = list(var_tuple_2)
var_list_3

[1, 2.5, 'data', 5, 1, 2.5, 'data', 5]

In [96]:
type(var_list_3)

list

In contrast to **tuple** objects, **list** objects can be expanded and reduced via different methods. In other words, whereas **tuple** objects are _immutable_ sequence objects (with indexes) that cannot be changed once created, **list** objects are _mutable_ and can be changed. You can append **list** objects to an existing **list** object, and more (https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) :

In [102]:
var_list_1.append([3, 2])
var_list_1

[1, 2.5, 'data', [3, 2]]

In [107]:
var_list_1.extend([1, 1.5, 2])
var_list_1

[1, 2.5, 'data', 1, 1.5, 2]

In [108]:
var_list_1.insert(1, 'insert')
var_list_1

[1, 'insert', 2.5, 'data', 1, 1.5, 2]

In [109]:
var_list_1.remove('data')
var_list_1

[1, 'insert', 2.5, 1, 1.5, 2]

In [110]:
var_list_2 = var_list_1.pop(3)
print(var_list_1)
print(var_list_2)

[1, 'insert', 2.5, 1.5, 2]
1

_Slicing_ is also easily accomplished. Here, _slicing_ refers to an operation that breaks down a data set into smaller parts (all the rules apply as with **str** objects):

In [111]:
var_list_1[2:5]

[2.5, 1.5, 2]

**_For loops_** (https://docs.python.org/3/tutorial/controlflow.html#for-statements). Although _control structures_ (which **for** loop is a part of) will be discussed later, **for** loops are best introduced in Python based on **list** objects. This is because looping takes place over **list** objects, which is quite different from other languages, where looping occurs over an arithmetic progression of numbers (1, 2, 3 etc.). Note, however, the importance of the indentation (whitespace) in the second line, which lets Python know that entire indented part is a part of a loop. Let's see an example:

In [112]:
var_list_3 = [5, 1, 10, 0, 4]

for number in var_list_3:
    print(number)

5
1
10
0
4

Which is equivalent to looping directly over a **list**:

In [113]:
for number in [5, 1, 10, 0, 4]:
    print(number)

5
1
10
0
4

In [114]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

The reference word can be chosen arbitrarily, such as 'number', 'fruit', 'element' etc., but you need to be consistent when referring to that object. The **for** loop can also loop over the elements of a sliced **list** object:

In [115]:
var_list_1

[1, 'insert', 2.5, 1.5, 2]

In [116]:
for element in var_list_1[2:5]:
    print(element ** 2)

6.25
2.25
4

This provides a really high degree of flexibility in comparison to the typical _counter-based looping_. _Counter-based looping_ is also an option with Python, but is accomplished based on a **range()** (https://docs.python.org/3.3/library/stdtypes.html?highlight=range#range) object:

In [119]:
var_range_1 = range(8)
var_range_1

range(0, 8)

In [120]:
type(var_range_1)

range

Using **list()** (https://docs.python.org/3/library/functions.html#func-list) function, we can convert **range** object into a **list**:

In [121]:
list(var_range_1)

[0, 1, 2, 3, 4, 5, 6, 7]

In [122]:
list(range(0, 8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [123]:
list(range(5, 8))

[5, 6, 7]

In [124]:
var_range_2 = range(0, 10, 3)
list(var_range_2)

[0, 3, 6, 9]

In [127]:
var_range_3 = range(10, 0, -2)
list(var_range_3)

[10, 8, 6, 4, 2]

You can also loop over **range** object:

In [128]:
for item in range(2, 5):
    print(item ** 2)

4
9
16

Python can also loop over many **list** objects simultaneously, using **zip()** (https://docs.python.org/3.3/library/functions.html#zip) function. Let's see an example with 2 **list** objects:

In [132]:
for number_1, number_1 in zip([10, 20, 30], [1, 2, 3]):
    print(number_1 + number_2)

4
5
6

**Zip** object looks like this:

In [133]:
list(   zip([10, 20, 30], [1, 2, 3])   )

[(10, 1), (20, 2), (30, 3)]

A specialty of Python are so-called **list** _comprehensions_. Instead of looping over existing **list** objects, this approach generates **list** objects via loops in a rather compact fashion. Let's see how looping over a **list** object compares to the **list** _comprehension_. First loop over a **list**:

In [134]:
var_list_4 = []

for item in range(5):
    var_list_4.append(item ** 2)

var_list_4

[0, 1, 4, 9, 16]

Now, using a **list** *comprehension*:

In [135]:
var_list_5 = [item ** 2 for item in range(5)]
var_list_5

[0, 1, 4, 9, 16]

**List** _comprehension_ also works with **zip()** (https://docs.python.org/3.3/library/functions.html#zip):

In [136]:
var_list_6 = [item_1 + item_2 for item_1, item_2 in zip([10, 20, 30], [1, 2, 3])]
var_list_6

[11, 22, 33]

##### 1.2.3. Dictionary

**Dict** objects are dictionaries, and also mutable sequences, that allow data retrieval by keys that can, for example, be **str** objects. They are so-called _key-value stores_. While **list** objects are ordered and sortable, **dict** objects are unordered and not sortable. An example best illustrates further differences from **list** objects. Curly brackets **{_key:value_ }** are what define **dict** objects:

In [137]:
var_dict_1 = {
    'Name': 'Donald Trump',
    'Country': 'USA',
    'Profession': 'President',
    'Age' : 74
}
var_dict_1

{'Name': 'Donald Trump',
 'Country': 'USA',
 'Profession': 'President',
 'Age': 74}

In [138]:
type(var_dict_1)

dict

Values in a **dictionary** can be accessed by providing a key in square brackets or using **.get()** (https://www.programiz.com/python-programming/methods/dictionary) method:

In [139]:
var_dict_1['Name']

'Donald Trump'

Again, this class of objects has a number of built-in methods (https://www.programiz.com/python-programming/methods/dictionary) :

In [140]:
var_dict_1.get('Name')

'Donald Trump'

In [141]:
var_dict_1.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [142]:
var_dict_1.values()

dict_values(['Donald Trump', 'USA', 'President', 74])

In [143]:
var_dict_1.items()

dict_items([('Name', 'Donald Trump'), ('Country', 'USA'), ('Profession', 'President'), ('Age', 74)])

Keys, values and items (as illustrated above) can be iterated over:

In [144]:
for key in var_dict_1.keys():
    print(key)

Name
Country
Profession
Age

In [145]:
for value in var_dict_1.values():
    print(value)

Donald Trump
USA
President
74

In [146]:
for item in var_dict_1.items():
    print(item)

('Name', 'Donald Trump')
('Country', 'USA')
('Profession', 'President')
('Age', 74)

New items can be easily added, deleted and changed in a dictionary:

In [148]:
var_dict_1['Spouse'] = 'Melania Trump'
var_dict_1

{'Name': 'Donald Trump',
 'Country': 'USA',
 'Profession': 'President',
 'Age': 74,
 'Spouse': 'Melania Trump'}

In [149]:
del var_dict_1['Spouse']
var_dict_1

{'Name': 'Donald Trump',
 'Country': 'USA',
 'Profession': 'President',
 'Age': 74}

In [150]:
var_dict_1['Age'] = 75
var_dict_1

{'Name': 'Donald Trump',
 'Country': 'USA',
 'Profession': 'President',
 'Age': 75}

##### 1.2.4. Set

The final data structure this section covers is the **set** (https://docs.python.org/3/library/stdtypes.html#set) object. Although **set** theory is a cornerstone of mathematics and financial theory, there are not too many practical applications for **set** objects. This object contains every element only once:

In [151]:
var_set_1 = set(['u', 'd', 'ud', 'du', 'd', 'du'])
var_set_1

{'d', 'du', 'u', 'ud'}

In [152]:
var_set_2 = set(['d', 'dd', 'uu', 'u'])
var_set_2

{'d', 'dd', 'u', 'uu'}

With **set** objects, one can implement basic operations on as in mathematical **set** theory. For example, one can generate unions, intersections and differences:

In [153]:
var_set_1.union(var_set_2)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [154]:
var_set_1.intersection(var_set_2)

{'d', 'u'}

In [155]:
var_set_1.difference(var_set_2)

{'du', 'ud'}

In [156]:
var_set_1.symmetric_difference(var_set_2)

{'dd', 'du', 'ud', 'uu'}

One application of **set** objects is to get rid of duplicates in a **list** object:

In [157]:
var_list_7 = list(range(10))
var_list_7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
var_list_8 = list(range(1, 7 , 2))
var_list_8

[1, 3, 5]

In [159]:
var_list_7.extend(var_list_8)
var_list_7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 3, 5]

In [160]:
set(var_list_7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Finally, **len()** (https://docs.python.org/3/library/functions.html#len) function returns number of elements in any data structure object: **tuple**, **list**, **dict** and **set**.

In [162]:
print(var_tuple_1)
len(var_tuple_1)

(1, 2.5, 'data', 5)

4

In [163]:
print(var_list_1)
len(var_list_1)

[1, 'insert', 2.5, 1.5, 2]

5

In [164]:
print(var_dict_1)
len(var_dict_1)

{'Name': 'Donald Trump', 'Country': 'USA', 'Profession': 'President', 'Age': 75}

4

In [166]:
print(var_set_1)
len(var_set_1)

{'ud', 'du', 'u', 'd'}

4

**_Exercises:_**

Exercise 5. Using **for** loop, print the following numbers: 225, 169, 121, 81, 49, 25, 9, 1, 1, 9.

In [175]:
for x in range(15,-4,-2):
    print(x**2)

225
169
121
81
49
25
9
1
1
9

Exercise 6. Create a list containing numbers from exercise 5.

In [181]:
list_ex_5 = [];
for x in range(15,-4,-2):
    list_ex_5.append(x**2)
    
print(list_ex_5);

[225, 169, 121, 81, 49, 25, 9, 1, 1, 9]

list

Exercise 7. Create a dictionary with your name, age and country of origin. Introduce yourself using **.format()** method.

In [183]:
my_dict = {
    'Name': 'Thomas SADURNI',
    'Age': 22,
    'Country of Origin': 'France'
}
print(my_dict)
'My name is {}, I am {} years old and my country of origin is {}.'.format(my_dict.get('Name'),my_dict.get('Age'), my_dict.get('Country of Origin'))

{'Name': 'Thomas SADURNI', 'Age': 22, 'Country of Origin': 'France'}

'My name is Thomas SADURNI, I am 22 years old and I come from France.'

Exercise 8. You and your friend hold following stock portfolios. Display only the stocks that you both hold in common.

In [185]:
your_stocks = ['AAPL', 'GE', 'TSLA', 'UAL', 'BAC']
friends_stocks = ['FB', 'MSFT', 'AAL', 'TSLA', 'GE']
set(your_stocks).intersection(set(friends_stocks))

{'GE', 'TSLA'}

Exercise 9. Create a **list** containing element by element product of [5, 6, 7] and [2, 0.5, 3] **list** objects.

In [190]:
list1=[5,6,7]
list2=[2,0.5,3]
res=[]
for x1 in list1:
    for x2 in list2:
        res.append(x1*x2)
print(res)

[10, 2.5, 15, 12, 3.0, 18, 14, 3.5, 21]