### 2. Functions

Functions in R are similar to mathematical functions, such as $y = f(x)$, where $x$ is an input, $y$ is an output and $f(x)$ is the process that transforms one variable into another. In R a function is defined using a function name, assignment operator (**<-** or **=**) **function** keyword, inputs (parameters) in brackets, the process itself and, finally, a **return()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/function.html) or **print()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/print.html) function. For example, a function $y = f(x) = x^2$ looks like this:

In [1]:
f = function(x){
    y = x ** 2
    return(y)
}

If there are no explicit returns from a function, the value of the last evaluated expression is returned automatically:

Alternatively, if a function is simple, it can be defined even more compactly, without using the **return()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/function.html) function:

In [2]:
f = function(x){
    x ** 2
}

To call a function, use the function name (**f** in this case), followed by brackets with the necessary inputs (arguments):

In [3]:
f(2)

[1] 4

**_Arguments or parameters?_** From a function's perspective:
* A parameter is the variable listed inside the brackets in the function definition;
* An argument is the value that is sent to the function when it is called.

Function can require more than one argument. For example, a function $z = g(x,y) = x^2 + 2y$ looks like this:

In [4]:
g = function(x,y){
    z = x ** 2 + 2 * y
    return(z)
}

g(2,3)

[1] 10

**_Default parameter value_**. If you call a function without an argument, it uses the default value:

In [7]:
me = function(city='Toulouse'){
    print(   paste('I live in ', city)   )
}

me('Paris')

[1] "I live in  Paris"

In [8]:
me()

[1] "I live in  Toulouse"

Simple one-line functions can be expressed in a compact form. Its syntax is:

**function(arguments) expression**

In [9]:
func = function(x,y) x + y
func(1, 2)

[1] 3

The **g(x,y)** function from above would look like this:

In [10]:
gunc = function(x,y) x ** 2 + 2 * y
gunc(2, 3)

[1] 10

**_Anonymous function_** in R can have many arguments, as well as many expressions. Its syntax is:

**(   function(arguments){expression1; expression2}   )(argument values)**

In [11]:
(   function(x,y){z = x^2 + y^2; x + y + z}   )(5, 2)

[1] 36

**_Passing a vector or a matrix as an argument_**. Sicne R was designed to work with **vectors** and **matrices**, you can send send these data structures into a function as argument, and the function will be applied to each element:

In [12]:
print(   f(1:5)   )

[1]  1  4  9 16 25

In [13]:
arg = matrix(1:9, nrow=3)
print(   f(arg)   )

     [,1] [,2] [,3]
[1,]    1   16   49
[2,]    4   25   64
[3,]    9   36   81

In R functions can even take **lists** and **data frames** as arguments:

In [14]:
var_list = list('Hello', TRUE, 10, arg)
disp = function(x) print(x)
disp(var_list)

[[1]]
[1] "Hello"

[[2]]
[1] TRUE

[[3]]
[1] 10

[[4]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

In [15]:
var_data = data.frame(Letter=letters[1:10], First=0:9, Second=10:19)
var_data

   Letter First Second
1  a      0     10
2  b      1     11
3  c      2     12
4  d      3     13
5  e      4     14
6  f      5     15
7  g      6     16
8  h      7     17
9  i      8     18
10 j      9     19

**_Control structures_**. The _control strutures_ (https://stat.ethz.ch/R-manual/R-devel/library/base/html/Control.html), as the name implies, are used to control the flow of the code, i.e. analyses variables and chooses a direction in which to go based on given parameters. We are going to look into **if**, **for** and **while** structures.

**_If statement._** The most well known conditional control elements are **if**,  **else if** and **else**. This structure checks whether a condition is true and 'acts' accordingly. There can be zero or more **else if** parts, and the **else** part is optional. Their use is comparable to other languages. Let's see this structure in action:

In [16]:
number = 0
if (number > 0) print('Positive') else if (number < 0) print('Negative') else print('Zero')

[1] "Zero"

In [17]:
number = -1
if (number > 0){
    print('Positive')
}else if (number < 0){
    print('Negative')
}else{
    print('Zero')
}

[1] "Negative"

It can also have only 2 statemnts:

In [18]:
number = 2
if (number %% 2 == 0){
    print('Even')
}else{
    print('Odd')
}

[1] "Even"

**If** statements can be nested inside other **if** statements:

In [19]:
number = 3
if (number > 0){
    if (number %% 2 == 0){
        print('Positive and even')
    }else{
        print('Positive and odd')
    } 
}else if (number < 0){
    if (number %% 2 == 0){
        print('Negative and even')
    }else{
        print('Negative and odd')
    }
}else{
    if (number %% 2 == 0){
        print('Positive and even')
    }else{
        print('Positive and odd')
    }
}

[1] "Positive and odd"

**_For statement_**. We have seen in the previous section that **for** loop in R can loop over any data structure. We have also seen a simple **for** loop, consisting of one expression, however, it can have a more structured expression:

In [20]:
for (i in 1:5){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

It is very useful when we have a complex structure, for example, nested **if** statements:

In [21]:
for (i in -3:4){
    if (i > 0){
        print(   paste(i, ' is positive.')   )
    }else if (i < 0){
        print(   paste(i, ' is negative.')   )
    }else{
        print(   paste(i, ' is zero.')   )
    }
}

[1] "-3  is negative."
[1] "-2  is negative."
[1] "-1  is negative."
[1] "0  is zero."
[1] "1  is positive."
[1] "2  is positive."
[1] "3  is positive."
[1] "4  is positive."

Or even nested **for** loops:

In [22]:
for (i in 1:3){
    for (j in 4:6){
        print(i * j)
    }
}

[1] 4
[1] 5
[1] 6
[1] 8
[1] 10
[1] 12
[1] 12
[1] 15
[1] 18

**_While statement._** The **while** statement is used for repeated execution as long as an expression is true. In the following example the program will keep printing numbers, until it reaches 10 (initial value has to be given):

In [23]:
number = 0
while (number < 10){
    print(number)
    number = number + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In the following, numbers up to a multiple of 7 will be printed:

In [24]:
number = 1
while (number %% 7 != 0){
    print(number)
    number = number + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

**While** loops can also be nested:

In [25]:
number_1 = 0
while (number_1 < 3){
    number_2 = 4
    while (number_2 > 0){
        print(number_1 + number_2)
        number_2 = number_2 - 1
    }
    number_1 = number_1 + 1
}

[1] 4
[1] 3
[1] 2
[1] 1
[1] 5
[1] 4
[1] 3
[1] 2
[1] 6
[1] 5
[1] 4
[1] 3

**_Exercises_.**

Exercise 1. Write a function that takes any number as an input and returns an integer without a fraction part. For example, 5.8 will return 5; 6 will return 6.

In [27]:
floor = function(x) as.integer(x)
floor(6.5)

[1] 6

Exercise 2. Write a function that takes any number as an input and returns the smallest integer that is not smaller than the input. For example, 5.8 will return 6; 6 will return 6.

In [33]:
round = function(x) if (x-floor(x)>=0.5) floor(x)+1 else floor(x)
round(6.8)

[1] 7

Exercise 3. Rewrite functions from exercises 1 and 2 using anonymous function notation.