### 3. Vectors and matrices

Scientific and financial applications generally have a need for high-performing operations on special data structures. One of the most important data structures in this regard is the **array**. Arrays structure other objects of the _same data type_ in rows and columns.

Even though the concept generalizes to all data types, for the moment we are going to focus on numbers. A one-dimensional array then represents, mathematically speaking, a **vector** of real numbers, represented by **double** objects. It then consists of a _single_ row or column of elements. In a more common case, an array represents an _i×j_ **matrix** of elements. This concept generalizes to _i×j×k_ cubes of elements in three dimensions as well as to general n-dimensional arrays of shape _i×j×k×l…_

R can handle **vectors** and **matrices** without any additional packages installed. The basic handling of instances of this class is again best illustrated by examples. One way to create a **vector** is using **c()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/c.html) function:

In [1]:
h = c(0.25, 0.5, 0.75, 1.0, 1.25)
print(h)

[1] 0.25 0.50 0.75 1.00 1.25

In [2]:
is.vector(h)

[1] TRUE

In [3]:
h = c('a', 'b', 'c')
print(h)

[1] "a" "b" "c"

A useful function to generate ranges is **seq()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/seq.html) function:

In [4]:
i = seq(2, 20, 2)
print(i)

 [1]  2  4  6  8 10 12 14 16 18 20

In [9]:
i = seq(5, 15, length=11)
print(i)

 [1]  5  6  7  8  9 10 11 12 13 14 15

In [16]:
j = seq(8)
print(j)

[1] 1 2 3 4 5 6 7 8

In [11]:
print(   j[5:length(j)]   )

[1] 5 6 7 8

In [12]:
print(   j[-(1:4)]   )

[1] 5 6 7 8

In [13]:
print(   j[1:3]   )

[1] 1 2 3

In [19]:
print(   j[c(1,2,3)]   )

[1] 1 2 3

Any mathematical function can applied to **vector** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/groupGeneric.html). For instance:

In [20]:
sum(j)

[1] 36

In [21]:
sd(j)

[1] 2.44949

In [22]:
print(   cumsum(j)   )

[1]  1  3  6 10 15 21 28 36

In [23]:
print(   exp(j)   )

[1]    2.718282    7.389056   20.085537   54.598150  148.413159  403.428793
[7] 1096.633158 2980.957987

In [24]:
print(   sqrt(j)   )

[1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427

In [25]:
sqrt(4)

[1] 2

Also mathematical operations can be performed on **vectors**:

In [26]:
l = seq(8)
print(l)

[1] 1 2 3 4 5 6 7 8

In [27]:
print(2 * l)

[1]  2  4  6  8 10 12 14 16

In [28]:
print(l ^ 2)

[1]  1  4  9 16 25 36 49 64

In [29]:
print(2 ^ l)

[1]   2   4   8  16  32  64 128 256

In [30]:
print(l ^ l)

[1]        1        4       27      256     3125    46656   823543 16777216

By adding another dimension to **vector**, you will create a **matrix**. The indexing system requires providing both dimensions:

In [38]:
m = matrix(   c(l, l * 2), nrow=2   )
print(m)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]    1    3    5    7    2    6   10   14
[2,]    2    4    6    8    4    8   12   16

In [36]:
print(   m[1,]   )

[1]  1  3  5  7  2  6 10 14

In [37]:
print(   m[1, 2]   )

[1] 3

In [39]:
print(   m[, 6]   )

[1] 6 8

In [40]:
print(   m[1, 3:5]   )

[1] 5 7 2

In [41]:
sum(m)

[1] 108

In [42]:
print(   colSums(m)   )

[1]  3  7 11 15  6 14 22 30

In [43]:
print(   rowSums(m)   )

[1] 48 60

Using **matrix()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/matrix.html) function, you can create **matrices** populated with ones or zeros:

In [44]:
n = matrix(0, nrow=2, ncol=3)
print(n)

     [,1] [,2] [,3]
[1,]    0    0    0
[2,]    0    0    0

More than 2-dimensional structures can be created using **array()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/array.html) function:

In [47]:
o = array(1, dim=c(4, 3, 2))
print(o)

, , 1

     [,1] [,2] [,3]
[1,]    1    1    1
[2,]    1    1    1
[3,]    1    1    1
[4,]    1    1    1

, , 2

     [,1] [,2] [,3]
[1,]    1    1    1
[2,]    1    1    1
[3,]    1    1    1
[4,]    1    1    1

In [48]:
p = as.matrix(n)
print(p)

     [,1] [,2] [,3]
[1,]    0    0    0
[2,]    0    0    0

In [49]:
r = diag(5)
print(r)

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

Dimensions of any data structure can be found or assigned using **dim()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/dim.html) function:

In [50]:
print(   dim(r)   )

[1] 5 5

In [51]:
print(   dim(o)   )

[1] 4 3 2

In [52]:
v = seq(15)
dim(v) = c(3,5)
print(v)

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    4    7   10   13
[2,]    2    5    8   11   14
[3,]    3    6    9   12   15

In [53]:
w = matrix(v, 5, 3)
print(w)

     [,1] [,2] [,3]
[1,]    1    6   11
[2,]    2    7   12
[3,]    3    8   13
[4,]    4    9   14
[5,]    5   10   15

In [54]:
print(   t(w)   )

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    2    3    4    5
[2,]    6    7    8    9   10
[3,]   11   12   13   14   15

Stacking is a special operation that allows the horizontal or vertical combination of two **vectors** or **matrices** using **cbind()** and **rbind()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/cbind.html) functions respectively. However, the size of the "connecting" dimension must be the same:

In [55]:
print(   cbind(w, w ^ 2)   )

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    1    6   11    1   36  121
[2,]    2    7   12    4   49  144
[3,]    3    8   13    9   64  169
[4,]    4    9   14   16   81  196
[5,]    5   10   15   25  100  225

In [56]:
print(   rbind(w, w * 2)   )

      [,1] [,2] [,3]
 [1,]    1    6   11
 [2,]    2    7   12
 [3,]    3    8   13
 [4,]    4    9   14
 [5,]    5   10   15
 [6,]    2   12   22
 [7,]    4   14   24
 [8,]    6   16   26
 [9,]    8   18   28
[10,]   10   20   30

You can flatten a **matrix** or an n-dimensional **array** using **as.vector()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/vector.html) function:

In [57]:
print(w)

     [,1] [,2] [,3]
[1,]    1    6   11
[2,]    2    7   12
[3,]    3    8   13
[4,]    4    9   14
[5,]    5   10   15

In [58]:
print(   as.vector(w)   )

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [59]:
print(   as.vector(t(w))   )

 [1]  1  6 11  2  7 12  3  8 13  4  9 14  5 10 15

Comparison and logical operations in general work on **vectors** and **matrices** the same way, element-wise, as on standard R data types. Evaluating conditions returns a **logical** object:

In [60]:
print(w > 8)

      [,1]  [,2] [,3]
[1,] FALSE FALSE TRUE
[2,] FALSE FALSE TRUE
[3,] FALSE FALSE TRUE
[4,] FALSE  TRUE TRUE
[5,] FALSE  TRUE TRUE

In [61]:
print(w <= 7)

     [,1]  [,2]  [,3]
[1,] TRUE  TRUE FALSE
[2,] TRUE  TRUE FALSE
[3,] TRUE FALSE FALSE
[4,] TRUE FALSE FALSE
[5,] TRUE FALSE FALSE

In [62]:
print(w == 5)

      [,1]  [,2]  [,3]
[1,] FALSE FALSE FALSE
[2,] FALSE FALSE FALSE
[3,] FALSE FALSE FALSE
[4,] FALSE FALSE FALSE
[5,]  TRUE FALSE FALSE

In [68]:
print(   (w == 5) * 1   )

     [,1] [,2] [,3]
[1,]    0    0    0
[2,]    0    0    0
[3,]    0    0    0
[4,]    0    0    0
[5,]    1    0    0

In [71]:
print(   ((w > 4) & (w <= 12)) *1   )

     [,1] [,2] [,3]
[1,]    0    1    1
[2,]    0    1    1
[3,]    0    1    0
[4,]    0    1    0
[5,]    1    1    0

Such boolean arrays can be used for indexing and data selection. Notice that the following operations flatten the data:

In [73]:
print(w)

     [,1] [,2] [,3]
[1,]    1    6   11
[2,]    2    7   12
[3,]    3    8   13
[4,]    4    9   14
[5,]    5   10   15

In [74]:
print(   w[w > 8]   )

[1]  9 10 11 12 13 14 15

In [75]:
print(   w[(w > 4) & (w <= 12)]   )

[1]  5  6  7  8  9 10 11 12

In [76]:
print(   w[(w < 4) | (w >= 12)]   )

[1]  1  2  3 12 13 14 15

Another powerful tool is the **ifelse()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/ifelse.html) function which allows the definition of operations depending on whether a condition is **True** or **False**:

In [83]:
print(   (ifelse(w > 7, 1, 0))   )

     [,1] [,2] [,3]
[1,]    0    0    1
[2,]    0    0    1
[3,]    0    1    1
[4,]    0    1    1
[5,]    0    1    1

In [84]:
print(   ifelse(w %% 2 == 0, 'even', 'odd')   )

     [,1]   [,2]   [,3]
[1,] "odd"  "even" "odd"
[2,] "even" "odd"  "even"
[3,] "odd"  "even" "odd"
[4,] "even" "odd"  "even"
[5,] "odd"  "even" "odd"

In [85]:
print(   ifelse(w <= 7, w * 2, w / 2)   )

     [,1] [,2] [,3]
[1,]    2 12.0  5.5
[2,]    4 14.0  6.0
[3,]    6  4.0  6.5
[4,]    8  4.5  7.0
[5,]   10  5.0  7.5

Simple mathematical operations, such as calculating the sum over all elements, can be implemented on **vectors** and **matrices** directly. For example, one can add two **matrices** element-wise as follows:

In [86]:
y = matrix(seq(12), nrow=4)
z = y * 0.5  
print(y)

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

In [87]:
print(z)

     [,1] [,2] [,3]
[1,]  0.5  2.5  4.5
[2,]  1.0  3.0  5.0
[3,]  1.5  3.5  5.5
[4,]  2.0  4.0  6.0

In [88]:
print(y + z)

     [,1] [,2] [,3]
[1,]  1.5  7.5 13.5
[2,]  3.0  9.0 15.0
[3,]  4.5 10.5 16.5
[4,]  6.0 12.0 18.0

R also supports what is called _broadcasting_. This allows to combine objects of different shape within a single operation. Previous examples have already made use of this. Consider the following examples:

In [89]:
print(y + 3)

     [,1] [,2] [,3]
[1,]    4    8   12
[2,]    5    9   13
[3,]    6   10   14
[4,]    7   11   15

In [90]:
print(2 * y)

     [,1] [,2] [,3]
[1,]    2   10   18
[2,]    4   12   20
[3,]    6   14   22
[4,]    8   16   24

In [91]:
print(2 * y + 3)

     [,1] [,2] [,3]
[1,]    5   13   21
[2,]    7   15   23
[3,]    9   17   25
[4,]   11   19   27

You can also add **vectors** to **matrices**:

In [92]:
print(z)

     [,1] [,2] [,3]
[1,]  0.5  2.5  4.5
[2,]  1.0  3.0  5.0
[3,]  1.5  3.5  5.5
[4,]  2.0  4.0  6.0

In [104]:
print(   z[,1]   )

[1] 0.5 1.0 1.5 2.0

In [96]:
print(y)

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

In [106]:
print(   y + z[,1]   )

     [,1] [,2] [,3]
[1,]  1.5  5.5  9.5
[2,]  3.0  7.0 11.0
[3,]  4.5  8.5 12.5
[4,]  6.0 10.0 14.0

As already discussed in section 2, R allows **vectors** and **matrices** as arguments for the functions:

In [107]:
f = function(x) 3 * x + 5

f(2)

[1] 11

In [108]:
print(   f(y)   )

     [,1] [,2] [,3]
[1,]    8   20   32
[2,]   11   23   35
[3,]   14   26   38
[4,]   17   29   41

You can perform **vector** and **matrix** multiplication by using _%*%_ operation (standard _*_ performs element by element multiplication). When performing **matrix** multiplication, make sure you have the correct dimensions:

In [109]:
print(y)

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

In [110]:
print(z)

     [,1] [,2] [,3]
[1,]  0.5  2.5  4.5
[2,]  1.0  3.0  5.0
[3,]  1.5  3.5  5.5
[4,]  2.0  4.0  6.0

In [111]:
print(y * z)

     [,1] [,2] [,3]
[1,]  0.5 12.5 40.5
[2,]  2.0 18.0 50.0
[3,]  4.5 24.5 60.5
[4,]  8.0 32.0 72.0

In [114]:
print(   y %*% z   )

ERROR: Error in y %*% z: non-conformable arguments

In [115]:
print(   y %*% t(z)   )

     [,1] [,2]  [,3] [,4]
[1,] 53.5   61  68.5   76
[2,] 61.0   70  79.0   88
[3,] 68.5   79  89.5  100
[4,] 76.0   88 100.0  112

In [117]:
print(   t(y[,1]) %*% z[,1]   )

     [,1]
[1,]   15

**_Random number generation_**. R is very useful when one needs to generate random numbers (https://stat.ethz.ch/R-manual/R-devel/library/base/html/Random.html). Let's generate random integers using **sample()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/sample.html) function, which requires 3 parameters (note: **set.seed()** (https://stat.ethz.ch/R-manual/R-devel/library/base/html/Random.html) function is needed for replicability):

In [119]:
set.seed(1)
numbers = sample(1:9, 100, replace=T)
print(numbers)

  [1] 9 4 7 1 2 7 2 3 1 5 5 6 7 9 5 5 9 9 5 5 2 9 1 4 3 6 6 4 4 9 7 6 9 8 9 7 8
 [38] 6 7 3 6 8 2 2 6 6 1 3 3 8 6 7 6 8 7 1 4 8 9 9 7 4 7 6 1 5 6 1 9 7 7 3 6 2
 [75] 7 3 2 1 8 5 7 8 5 6 8 1 3 3 1 6 6 4 9 5 1 3 6 3 7 3

Next, the **runif()** (https://stat.ethz.ch/R-manual/R-devel/library/stats/html/Uniform.html) function returns random numbers from the open interval $[0, 1)$ with uniform distribution, in the shape provided as a parameter to the function. The return object is a **vector**:

In [120]:
set.seed(2)
print(   runif(10)   )

 [1] 0.1848823 0.7023740 0.5733263 0.1680519 0.9438393 0.9434750 0.1291590
 [8] 0.8334488 0.4680185 0.5499837

If you want to generate random numbers from the interval $[a, b) = [5, 10)$:

In [122]:
a = 5
b = 10
set.seed(3)
numbers = runif(10, a, b)
print(numbers)

 [1] 5.840208 9.037582 6.924712 6.638672 8.010503 8.021970 5.623167 6.473005
 [9] 7.888050 8.154896

In [123]:
set.seed(4)
numbers = matrix(runif(25), nrow=5)
print(numbers)

            [,1]       [,2]      [,3]      [,4]      [,5]
[1,] 0.585800305 0.26042777 0.7546750 0.4551024 0.7145085
[2,] 0.008945796 0.72440589 0.2860006 0.9710557 0.9966129
[3,] 0.293739612 0.90609215 0.1000535 0.5839880 0.5062709
[4,] 0.277374958 0.94904022 0.9540688 0.9622046 0.4899432
[5,] 0.813574215 0.07314447 0.4156071 0.7617024 0.6491614

Finally, **rnorm()** (https://stat.ethz.ch/R-manual/R-devel/library/stats/html/Normal.html)
function generates numbers from a normal distribution with the specified parameters:

In [124]:
set.seed(5)
numbers = rnorm(100, 5, 10)
print(numbers)

  [1]  -3.4085548  18.8435934  -7.5549186   5.7014277  22.1144087  -1.0290798
  [7]   0.2783361  -1.3537131   2.1422637   6.3810822  17.2763034  -3.0177945
 [13]  -5.8039260   3.4246564  -5.7176004   3.6101386  -0.9731309 -16.8396676
 [19]   7.4081726   2.4064459  14.0051195  14.4186939  19.6796190  12.0676109
 [25]  13.1900893   2.0651815  19.1858907  19.9877383  -1.5708209  -3.5279544
 [31]   8.1591504  16.0969417  27.1546057  17.1710364  19.7922179  14.5157383
 [37]  -5.0953265 -15.0047274 -12.6218587   3.5739187  20.5006037  -3.0242318
 [43]   4.2542108  23.9566795   0.4343106  10.6222336  -3.8700851   0.3975542
 [49]  -2.2432849   4.3078884  19.6324856   6.8772610  15.2202286  -0.9183483
 [55]   3.8779934  -4.2495309  12.5330480   3.8739093   4.3590907   7.3327529
 [61]  -6.3658280  13.5483042  -0.7837042   9.9636154  -2.6005793   1.5861373
 [67] -16.0232912   1.9829772  -7.7238344   2.2033389   2.9590268   2.7438581
 [73]   8.4702845   5.3236784   9.1353129   3.4465152  14.7348539   6.2109014
 [79]   6.8917369  -0.6288507   9.9841617 -12.4230249  14.7552910   4.7591713
 [85]  11.7568448  -2.1030961  28.8723265   0.2656799   4.2422744  -0.2184006
 [91]  14.2604713  -5.6241117  10.5703387  14.0073058  14.8994568   8.8360809
 [97]   1.5341619  -0.4018925   3.1744441   4.4070035

**_Exercises._**

Exercise 1. Create a 5 x 5 matrix containing numbers from 11 to 35 and select a bottom right 4 x 4 matrix.

In [126]:
print(matrix(seq(11,35),5 ,5))

     [,1] [,2] [,3] [,4] [,5]
[1,]   11   16   21   26   31
[2,]   12   17   22   27   32
[3,]   13   18   23   28   33
[4,]   14   19   24   29   34
[5,]   15   20   25   30   35

Exercise 2. Create a 5 x 5 matrix containing randomly generated values from a uniform distribution from an interval $[5;10)$.

In [142]:
print(matrix(runif(5*5,5,10),5,5))

         [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 8.443060 9.175334 6.081034 8.852642 6.312844
[2,] 6.235296 9.752183 7.124451 6.842421 8.214529
[3,] 6.629596 5.515150 8.812050 5.606676 6.658269
[4,] 8.866952 7.920897 6.752400 9.238965 6.516482
[5,] 9.552683 6.953641 7.522481 8.738930 7.361341

Exercise 3. Solve the system of equations (you may find useful: https://stat.ethz.ch/R-manual/R-devel/library/base/html/solve.html):

 4x +  y + 2z - 3w = -6
 
-3x + 3y -  z + 4w = 27

 -x + 2y + 5z +  w = 39
 
 5x + 4y + 3z -  w = 23

In [165]:
A=t(matrix(c(4,1,2,-3,-3,3,-1,4,-1,2,5,1,5,4,3,-1),4,4))
B=matrix(c(-6,27,39,23))
solve(A,B)

     [,1]
[1,] 2
[2,] 1
[3,] 6
[4,] 9